[submodule "submodules/320andup"]
	path = submodules/320andup
	url = git@github.com:liftstack/320andup.git
[submodule "submodules/foundation"]
	path = submodules/foundation
	url = git@github.com:liftstack/foundation.git
[submodule "submodules/gitbackup"]
	path = submodules/gitbackup
	url = git@github.com:liftstack/gitbackup.git
[submodule "submodules/giter8-default"]
	path = submodules/giter8-default
	url = git@github.com:liftstack/giter8-default.git
[submodule "submodules/html5-boilerplate"]
	path = submodules/html5-boilerplate
	url = git@github.com:liftstack/html5-boilerplate
[submodule "submodules/html5bp-bootstrap-initializr"]
	path = submodules/html5bp-bootstrap-initializr
	url = git@github.com:liftstack/html5bp-bootstrap-initializr
[submodule "submodules/lift_24_sbt"]
	path = submodules/lift_24_sbt
	url = git@github.com:liftstack/lift_24_sbt.git
[submodule "submodules/lift-quickstart"]
	path = submodules/lift-quickstart
	url = git@github.com:liftstack/lift-quickstart.git
[submodule "submodules/Kickstrap"]
	path = submodules/Kickstrap
	url = git@github.com:liftstack/Kickstrap.git
[submodule "submodules/lift_24_sbt_d6y"]
	path = submodules/lift_24_sbt_d6y
	url = git@github.com:liftstack/lift_24_sbt_d6y.git
