[submodule "submodules/html5-boilerplate"]
	path = submodules/html5-boilerplate
	url = git@github.com:lift-stack/html5-boilerplate.git
[submodule "submodules/kickstrap"]
	path = submodules/kickstrap
	url = git@github.com:lift-stack/Kickstrap.git
[submodule "submodules/bootstrap"]
	path = submodules/bootstrap
	url = git://github.com/twitter/bootstrap.git
